[color]
	diff = auto
	branch = auto
	interactive = auto
	status = auto
	ui = auto

[core]
	excludesfile = /home/matt/.gitignore_global
	whitespace = trailing-space,space-before-tab
[user]
	name = Matt McCormick
	email = matt.mccormick@kitware.com
[merge]
	tool = vimdiff
[clean]
	requireFore = false
	requireForce = false
[diff]
	renamelimit = 10000
[svn]
	rmdir = true
[push]
	default = simple
[hooks]
	kwstyle = true
[apply]
	whitespace = fix
