[color]
	diff = auto
	branch = auto
	interactive = auto
	status = auto
	ui = auto
[core]
	excludesfile = /home/matt/.gitignore_global
	whitespace = trailing-space,space-before-tab
	editor = vim
[user]
	name = Matt McCormick
	email = matt.mccormick@kitware.com
[merge]
	tool = meld
[clean]
	requireFore = false
	requireForce = false
[diff]
	renamelimit = 10000
[svn]
	rmdir = true
[push]
	default = simple
[hooks]
	kwstyle = true
[apply]
	whitespace = fix
# git sed 's/old-method-name/new-method-name/ig'
[alias]
	sed = ! git grep -z --full-name -l '.' | xargs -0 sed -i -e
        ln = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %cn - %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
        delete-merged = "!git branch --merged | grep  -v '\\*\\|master\\|develop\\|release\\|release-4.13' | xargs -n 1 git branch -d"
        fixup = "!REV=$(git rev-parse $1) && git commit -n --fixup $REV && (GIT_SEQUENCE_EDITOR=true git rebase -i --autosquash --autostash $REV^ || (git diff && git rebase --abort && git reset --soft HEAD^ && echo "Rebase aborted")) #"
	ci = !hub ci-status
	browse = !hub browse
	compare = !hub compare
[help]
	autocorrect = 3
[github]
	user = thewtex
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	gpgsign = false
[sequence]
	editor = interactive-rebase-tool
